body {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
}
.container {
  background: #fff;
  padding: 30px 200px;
  position: relative;
}
.heading {
  margin-bottom: 30px;
  text-align: center;
}
.heading span {
  font-size: 12px; 
}
.heading h3 {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 1.12;
  letter-spacing: -0.022em;
  font-weight: 600;
  font-style: normal;
}
.heading .description {
  color: #aaa;
  display: block;
  font-size: 15px;
  font-weight: 300;
  margin-top: 30px;
  text-align: left;
  padding: 0 30px;
}
.example {
  margin-bottom: 30px;
}
.example section {
  border-top: 1px solid rgba(0,0,0,0.05);
  padding-top: 30px;
  position: relative;
}
.example .toggle-button {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 30px;
  width: 18%;
}
.example .code-block {
  display: inline-block;
  width: 80%;
}
.example .code-highlight {
  color: rgb(113, 140, 0);
  font-weight: 600;
}
.example .repeated {
  color: #ccc;
}
.example .title {
  font-weight: 600;
  margin-left: 5px;
}
.example pre {
  background: rgb(249, 249, 249);
  border-radius: 4px;
  line-height: 1.42857;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
}
.example code {
  color: #aaa;
  white-space: pre-wrap;
}
.example p {
  color: rgba(0,0,0,0.9);
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  margin: 5px;
  text-transform: none;
}
@media only screen and (max-width: 800px) {
  .heading .description {
    padding: 0;
  }
  .container {
    padding: 30px 30px;
  }
  .example .toggle-button {
    display: block;
    position: relative;
    top: 0;
  }
  .example section {
    padding-top: 10px;
  }
  .example .code-block {
    width: 100%;
  }
}